<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,900,900i" integrity="sha384-dRuekDpcuHkrR+9p1mtK0eHliCj6lAW1F/dkqLzKgw5sJdTYOKK4mxQMwFsXVfay" crossorigin="anonymous">
    <title>@ViewBag.Title - MICROTRANSACTION.ZONE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <!-- testing w/o this div: <div class="navbar navbar-inverse navbar-fixed-top"> -->

    <div class="navbar bg-dark navbar-dark navbar-fixed-top navbar-expand-sm">
        <div class="container">
            <div class="navbar-header">
                 @Html.ActionLink("MICROTRANSACTION.ZONE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <!-- testing without nav toggle <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
            </div>

                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="nav-item">
                        <strong style="color: white;">Search: </strong>
                        <form action="@Url.Action("Search", "Search")">
                            <input type="text" name="q">
                        </form>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
        </div>

    </div>
    <!-- testing w/o this div: </div> -->


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MICROTRANSACTION.ZONE</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/gamesubmissionscripts")
        @RenderSection("scripts", required: false)
    </body>
    </html>
