<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,900,900i" integrity="sha384-dRuekDpcuHkrR+9p1mtK0eHliCj6lAW1F/dkqLzKgw5sJdTYOKK4mxQMwFsXVfay" crossorigin="anonymous">
    <title>@ViewBag.Title - MICROTRANSACTION.ZONE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>




    <nav class="nav navbar navbar-dark fixed-top navbar-expand-sm">
        <div class="container justify-content-between">

            <div class="navbar-brand">
                <img class="nav-logo d-inline-block" src="~/Images/MZLogo.svg" alt="Microtransaction.zone Logo">
                <div class="navbar-text d-none d-sm-inline-block">@Html.ActionLink("MICROTRANSACTION.ZONE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
            </div>

            @Html.Partial("_LoginPartial")

            <div class="navbar-nav">
                @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("About", "About", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-item nav-link" })
                <form action="@Url.Action("Search", "Search")">
                    <input type="text" name="q" placeholder="Search All Games">
                </form>
            </div>

           

        </div>

    </nav>


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MICROTRANSACTION.ZONE</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/gamesubmissionscripts")
        @RenderSection("scripts", required: false)
    </body>
    </html>
