<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,900,900i" crossorigin="anonymous">
    <title>@ViewBag.Title - MICROTRANSACTION.ZONE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var el = document.getElementByClass('game-img-small');

            (window.onresize = function () {
                el.style.width = el.clientHeight + 'px';
            })();
        });
    </script>

</head>

<body>

    <nav class="nav navbar navbar-expand-md d-flex fixed-top">
        <div class="container">

            <a class="navbar-brand align-self-center" href="@Url.Action("Index", "Home")">
                <img src="~/Images/MZLogo.svg" alt="Microtransaction.zone Logo"> Microtransaction.zone
            </a>

            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbar1">

                <ul class="navbar-nav col-lg-6">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Donate", "Donate", "Home", null, new { @class = "nav-link" })</li>
                </ul>

                <form class="d-none d-lg-block" action="@Url.Action("Search", "Search")">
                    <input class="form-control" type="text" name="q" placeholder="Search All Games">
                    <!-- creates 2 lines when hitting lg or smaller: <button class="btn btn-outline-primary my-2 my-sm-0 navbar-expand-xl" type="submit">Search</button> -->
                </form>

            </div>

        </div>
    </nav>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MICROTRANSACTION.ZONE</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gamesubmissionscripts")
    @RenderSection("scripts", required: false)


    <script>

        // injects scrollspy
        $('body').scrollspy({ target: '#search-xl' })

        // refreshes after add/remove of element
        $('[data-spy="scroll"]').each(function () {
            var $spy = $(this).scrollspy('refresh')
        })

        // creates event
        $('[data-spy="scroll"]').on('activate.bs.scrollspy', function () {
            // do something…
            // var x = $("d-none")
            // $("#page-title").empty().html(x)

            // $("div.page-title").html(function()
        })
    </script>




</body>

</html>
