<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,900,900i" crossorigin="anonymous">
    <title>@ViewBag.Title - MICROTRANSACTION.ZONE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>

    <nav class="nav navbar  fixed-top navbar-expand-sm">

        <div class="container">

            <div class="navbar-nav d-inline-flex flex-row">
                
                <a href="@Url.Action("Index", "Home")">
                    <img class="nav-logo" src=@Url.Content("~/Images/MZLogo.svg") alt="Microtransaction.zone Logo">
                </a>
                @Html.ActionLink("Microtransaction.zone", "Index", "Home", null, new { @id = "nav-link" })
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })

            </div>

            <!-- TESTING old: <div class="navbar-brand">
                <img class="nav-logo d-inline-block" src="~/Images/MZLogo.svg" alt="Microtransaction.zone Logo">
                <div class="navbar-text d-none d-sm-inline-block">@Html.ActionLink("Microtransaction.zone", "Index", "Home", new { @class = "navbar-brand" })</div>
            </div>

            @Html.Partial("_LoginPartial")

            <div class="navbar-nav d-flex flex-row">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })

            </div> -->

            <form class="d-inline" action="@Url.Action("Search", "Search")">
                <input type="text" name="q" placeholder="Search All Games">
            </form>

        </div>

    </nav>


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MICROTRANSACTION.ZONE</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/gamesubmissionscripts")
        @RenderSection("scripts", required: false)
    </body>
    </html>
