@using DIHMT.Models
@model DisplayGame


<div class="game-small">
    <img class="game-img-small" src="@Model.SmallImageUrl" alt="" />
</div>

<div class="list-item-text">
    <p class="m-0"><div class="game-name">@Model.Name</div>

    @for (var i = 0; i < Model.Platforms.Count; i++)
    {

        var write = i == Model.Platforms.Count - 1 ? Model.Platforms[i].Abbreviation : $"{Model.Platforms[i].Abbreviation} | ";

        @: @write


    }
    </p>

    @if (!string.IsNullOrEmpty(Model.Basically))
    {
    <p>
        <strong>Basically, @Model.Name...</strong> @Model.Basically&nbsp;- 
        <a href="@Url.Action("Index", "Game", new {id = Model.Id})">Details</a>
    </p>
    }



    <!-- button is too big with current formatting <p>
        <a class="btn btn-primary" href="@Url.Action("Index", "Game", new {id = Model.Id})">Details</a>
    </p> -->

    @foreach (var k in Model.Ratings ?? new List<DisplayGameRating>())
    {
        <img src="@k.ImageUrl" class="flag-img" data-toggle="popover" data-placement="right" data-trigger="hover" title="@k.Name" data-content="@k.ShortDescription" />
    }

</div>