@using System.Globalization
@using DIHMT.Models
@model List<TumblrPost>

@foreach (var v in Model)
{
    <p><a href="@v.Link"><strong>@v.Title</strong></a></p>
    <p>@v.Description</p>
    <sub><a href="@v.Link">@v.PubDate.ToString("yyyy MMMM dd", new CultureInfo("en-US"))</a></sub>
    <hr />
}
