@using System.Globalization
@using DIHMT.Models
@model List<TumblrPost>

@foreach (var v in Model)
{
    <p><a href="@v.Link" target="_blank"><strong>@v.Title</strong></a></p>
    if (!string.IsNullOrEmpty(v.Description))
    {
        <p>@v.Description</p>
    }
    <sub><a href="@v.Link" target="_blank">@v.PubDate.ToString("dd MMMM yyyy", new CultureInfo("en-US"))</a></sub>
    <hr />
}
