@using System.Globalization
@using DIHMT.Models
@model List<TumblrResponseModelResponsePost>

@foreach (var v in Model)
{
    if (v.Type == "text")
    {
        <p><a href="@v.ShortUrl"><strong>@v.Title</strong></a></p>
        <p>@v.Summary</p>
        <sub><a href="@v.ShortUrl">@v.Date.ToString("yyyy MMMM dd", new CultureInfo("en-US"))</a></sub>
    }
    <hr />
}
