@{
    ViewBag.Title = "FAQ";
}

<div class="basic">

    <h1>Frequently Asked Questions</h1>

    <p></p>

    <h2 class="faq">What do the different tags/icons mean?</h2>

    <p>We have an entire page dedicated to answering that question! Click <a href="@Url.Action("Tags")">here</a> to go there.</p>
    
    <h2 class="faq">I searched for a game and it didn't appear - please advise</h2>
    
    <p>Wait a couple of seconds and try again.</p>
    <p>No, really. There's a long and boring technical explanation, but if you search for a game and it's not in the results, try waiting a couple seconds and then repeating your search. It should be there this time.</p>

    <h2 class="faq">What are the general guidelines for submissions?</h2>

    <p>
        We encourage informative snark in the one-sentence summaries. For the detailed descriptions, we prefer clarity and thoroughness.
        When someone has read a game's entry, they should have a clear understanding of the basic monetization scheme of the game in question.
    </p>
    <p>For more information, head over to the <a href="@Url.Action("SubmissionGuide")">Submission Guide</a>.</p>
    
    <h2 class="faq">I submitted a rating, but it doesn't seem to have appeared on the page. How come?</h2>

    <p>To prevent abuse, and to ensure all entries are truthful, all submissions are placed in a queue for manual validation/proofreading/editing before they go live on the site.</p>
    <p>If it's been more than a day or two since you sent in your submission, and it still hasn't appeared, try submitting it again or <a href="@Url.Action("Contact")">contacting us</a>. 
    It may also be that we've rejected your submission for one reason or another; read more at <a href="@Url.Action("SubmissionGuide")#rejected">"Why was my entry rejected?"</a> in the <a href="@Url.Action("SubmissionGuide")">Submission Guide.</a></p>

    <h2 class="faq">I submitted a rating, but it seems to have been changed before it went live! What happened?</h2>

    <p>See above. If we feel that tags have been applied inaccurately, or descriptions are inaccurate or vague, we will do some editing before sending it onwards to the public-facing site.</p>

    <h2 class="faq">Who are you?</h2>

    <p>
        We are a couple of video-game playing persons who are sick and tired of the ways in which so many modern video games try to squeeze ever more money out of their players.
        Our twitters are linked on the "<a href="@Url.Action("Contact")">Contact</a>" page.
    </p>

    <h2 class="faq">Can I be credited for my submissions?</h2>

    <p>We prefer to collect as little information on our users as possible - there's quite enough spying and data collection happening on the internet already.</p>
    <p>Currently, all submissions are anonymous, and there are no plans to change this.</p>

    <h2 class="faq">Who owns the content on the site?</h2>

    <p>
        The tag icons are &copy;Taylor Bartman 2018, and are made available under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a> license.
        This means you are free to redistribute and reproduce them, as long as you give credit to their creator, and do not change them or use them for commercial purposes.
    </p>
    <p>
        The design and code of the website is &copy;MICROTRANSACTION.ZONE, available under the same license as the icons, and the same restrictions apply. The site's source code will be available on GitHub once we've officially launched.
    </p>
    <p>
        As far as the actual ratings/submissions/descriptions go, we follow the same philosophy as <a href="https://en.wikipedia.org/wiki/Wikipedia:Ownership_of_content" target="_blank">Wikipedia</a> - they are owned by no one.
        We don't collect any information that would allow us to tie a submission to the person who sent it in, so there you go.
    </p>
    <p>
        Some content on this site (game titles/box art images/platform information/genre information/game summaries) comes from <a href="https://www.giantbomb.com/api" target="_blank">The Giant Bomb API</a>.
        All this information belongs to the respective copyright holders&mdash;we claim no ownership over it. The use of this information on MICROTRANSACTION.ZONE is believed, in good faith, to be covered by Fair Use.
    </p>

    <h2 class="faq">Did you know that video games cost more money to make now than they used to and that actually you're a bunch of whiners who don't know anything?</h2>

    <p>We had no idea. You're the first person to ever bring that up, ever! Congratulations. We're very proud of you.</p>

</div>