@using DIHMT.Models
@using DIHMT.Static

@{
    ViewBag.Title = "MICROTRANSACTION.ZONE";
}

<div class="col-md-12">
    <img src="@DummyContent.DummyImage(900, 200)" alt="" style="display: block; margin-left: auto; margin-right: auto;" />
    <br />
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">About MICROTRANSACTION.ZONE</a></p>
</div>

<div class="row">
    <h1>Recently rated games</h1>
</div>

<div class="row">
    @foreach (var v in DummyContent.DummyDisplayGameList(3))
    {
        <div class="col-md-4" style="border: 1px; border-style: dotted;">
            <h3 style="display: inline">@v.Name - </h3>@v.Platforms[0].Abbreviation
            <img src="@v.ThumbImageUrl" alt="" style="display: block; margin-left: auto; margin-right: auto;" />
            <p><strong>Quick rundown:</strong> @v.RatingExplanation</p>
            <p><a class="btn btn-default" href="@Url.Action("Game", "Game", new { id = v.Id })">Details</a></p>
            @foreach (var k in v.Ratings ?? new List<DisplayGameRating>())
            {
                <p><strong>@k.Name:</strong> @k.Description</p>
            }
        </div>
    }
</div>