@{
    ViewBag.Title = "About Our Tags";
}

<div class="basic">

    <h1>About Our Tags</h1>
    <div class="extra-space"></div>

    <!-- Spotless -->
    <img class="game-flag-img" src="~/Images/1-1_Spotless.svg" />
    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">Spotless (No Monetized Content)</strong>
            <br />
            You buy the game, you own the game&mdash;full stop.
        </p>
    </div>

    <p>
        This game contains no post-purchase real-money transactions of any kind (e.g. expansion packs, DLC, loot boxes). Only one purchase is necessary to own the complete game and all future content.
        Online features tied to PlayStation Plus and Xbox Live Gold do not disqualify a game from this tag.
    </p>

    <h5>Examples</h5>
    <ul>
        <li><a href="@Url.Action("Index", "Game", new { id = 50899 })">Stardew Valley</a> has released several major updates at no cost and has no plans to release paid content.</li>
        <li><a href="@Url.Action("Index", "Game", new { id = 43972 })">Gravity Rush 2</a> has several costumes and an expansion available, all of which are free.</li>
    </ul>

    <hr class="divider-basic">

    <!-- Horse Armor -->
    <img class="game-flag-img" src="~/Images/1-1_Horse Armor.svg" />

    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">Horse Armor (Cosmetic/Frivolous DLC)</strong>
            <br />
            Some minor, purchasable DLC.
        </p>
    </div>

    <p>
        This game contains some minor—i.e. cosmetic or non-gameplay-altering—DLC, such as character skins, vehicle parts, background music, etc. The DLC can be purchased directly, with no randomness or loot boxes involved.
    </p>
    <p>
        <i><strong>Note:</strong> "Horse Armor" becomes "Bulk Order Horse Armor" around the point where qualifying DLC costs as much as, or more than, the game itself.</i>
    </p>

    <img class="game-flag-img" src="~/Images/1-1_HorseArmorBO.svg" />
    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">Bulk Order Horse Armor (Excess Cosmetic/Frivolous DLC)</strong>
            <br />
            A lot of minor, purchasable DLC.
        </p>
    </div>

    <p>
        This game contains a large amount of minor—i.e. cosmetic or non-gameplay-altering—DLC, such as character skins, vehicle parts, background music, etc. The DLC can be purchased directly, with no randomness or loot boxes involved.
    </p>

    <h5>Examples</h5>
    <ul>
        <li><a href="@Url.Action("Index", "Game", new { id = 37030 })">Fortnite</a> offers clothing, tool skins, glider skins, and emotes for $8-$20 worth of the currency "V-Bucks."</li>
        <li><a href="@Url.Action("Index", "Game", new { id = 30486 })">Persona 5</a> offers several costume packs and downloadable monsters for $3-$7 each, totaling over $90 total.</li>
    </ul>

    <hr class="divider-basic">

    <!-- Expansions -->
    <img class="game-flag-img" src="~/Images/1-1_Expansions.svg" />

    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">Expansive Expansions (Expansion Packs)</strong>
            <br />
            Paid DLC reminiscent of traditional expansion packs.
        </p>
    </div>

    <p>
        This game contains packs of meaningful content additions, similar to games released before DLC was popularized.
        The defining characteristic of this tag is that the content in question should contain some kind of Meaningful Content; a new area with quests, story content, and gameplay challenges counts.
        An extra difficulty mode, or a bow and a pack of consumable mana potions in an open world survival game does not.
    </p>

    <p>
        <i><strong>Note:</strong> This does not necessarily indicate that the content in question is of high quality, or represents good value for money.</i>
    </p>

    <h5>Examples</h5>
    <ul>
        <li><a href="@Url.Action("Index", "Game", new { id = 46569 })">Bloodborne</a> sells a $20 expansion pack with several new gameplay areas, enemies, weapons, and bosses.</li>
        <li><a href="@Url.Action("Index", "Game", new { id = 57213 })">Crash Bandicoot N. Sane Trilogy</a> is a platformer with an additional level for sale for $3.</li>
    </ul>

    <hr class="divider-basic">

    <!-- Gambling -->
    <img class="game-flag-img" src="~/Images/1-1_NotGambling.svg" />
    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">It's Not Gambling, We Swear (Loot Boxes & Other Randomized DLC)</strong>
            <br />
            Loot boxes with randomized contents, buyable with real money.
        </p>
    </div>

    <p>
        This game contains loot boxes or other similar content that drops randomized items. These boxes can be purchased directly with real money and/or with an in-game currency—which can often be purchased with real money, as well.
        Some games have boxes that require paid single-use keys in order to unlock the box.
    </p>

    <h5>Examples</h5>
    <ul>
        <li><a href="@Url.Action("Index", "Game", new { id = 48190 })../Game?id=48190">Overwatch</a> provides loot boxes for leveling up, completing certain activities, or in bundles starting at $1.99 for 2.</li>
        <li>
            <a href="@Url.Action("Index", "Game", new { id = 54979 })">PlayerUnknown's Battlegrounds</a>, commonly known as PUBG, provides loot crates that can be opened for free, as well as "Desperado crates" that drop in-game or sell for money on the Steam Marketplace.
            Desperado crates cost $2.50 each to open.
        </li>
    </ul>

    <hr class="divider-basic">

    <!-- Money Hole -->
    <img class="game-flag-img" src="~/Images/1-1_MoneyHole.svg" />
    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">Infinite Money Hole (No Spending Cap)</strong>
            <br />
            No limit to real money purchases.
        </p>
    </div>

    <p>
        This game has no limit to the amount of money that can be spent. This usually involves random drops or loot boxes in games where items can be bought, traded, and sold.
    </p>

    <h5>Examples</h5>
    <ul>
        <li>
            <a href="../Game?id=36113">Counter Strike: Global Offensive</a> has a market of weapon skins dropped from boxes, which are unlocked with keys. Skins, boxes, and keys can all be bought, traded, and sold with real money via the Steam Marketplace.
            Players can receive, then sell duplicate items.
        </li>
    </ul>

    <hr class="divider-basic">

    <!-- Not Cosmetic -->
    <img class="game-flag-img" src="~/Images/1-1_PayingForPower.svg" />
    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">It's Not Just Cosmetic (Gameplay-Altering DLC)</strong>
            <br />
            Upgrades with gameplay-altering effects, purchased with real money.
        </p>
    </div>

    <p>
        This game contains gameplay-altering content, such as experience boosts and powerful weapons. This may be done directly with real money, or indirectly by buying in-game currencies and loot boxes with real money.
    </p>

    <h5>Examples</h5>
    <ul>
        <li>x</li>
    </ul>

    <hr class="divider-basic">

    <!-- Contract -->
    <img class="game-flag-img" src="~/Images/1-1_Contract.svg" />
    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">But First, You'll Need a Contract (Subscriptions)</strong>
            <br />
            Contains a game-specific subscription service.
        </p>
    </div>

    <p>
        This game contains a paid subscription service. The subscription may be required to play the game. Alternatively, it may be a freemium service in which the game is free to play but paying for a subscription provides bonuses or enhances gameplay.
        This does not include services such as Playstation Plus and Xbox Live Gold, which apply to multiple games rather than one specific game.
    </p>

    <h5>Examples</h5>
    <ul>
        <li><a href="Game?id=19783">World of Warcraft</a> and <a href="Game?id=26847">Final Fantasy XIV: A Realm Reborn</a> both have mandatory subscription fees of $15 per month—or less, if purchasing multiple months of service at a time.</li>
        <li><a href="../Game?id=38206">The Elder Scrolls Online</a> allows players to play for free once the base game is purchased, but also offers a freemium service named ESO Plus that adds bonuses such as DLC access and experience boosts.</li>
    </ul>

    <hr class="divider-basic">

    <!-- Table -->
    <img class="game-flag-img" src="~/Images/1-1_TableForOne.svg" />
    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">Table for One (Standalone Single Player)</strong>
            <br />
            Contains a single-player campaign with no additional monetization.
        </p>
    </div>

    <p>
        This game has a complete single-player campaign without any microtransactions. Other tags applied to this game are based exclusively on multiplayer content.
    </p>

    <h5>Examples</h5>
    <ul>
        <li>x</li>
    </ul>

    <hr class="divider-basic">

    <!-- F2P -->
    <img class="game-flag-img" src="~/Images/1-1_F2P.svg" />
    <div class="game-flag-box">
        <p class="game-flag-description">
            <strong class="flag-name">Free to Play (No Cost of Entry)</strong>
            <br />
            No up-front purchase required to play.
        </p>
    </div>

    <p>
        This game can be downloaded and played for free. Often, the game requires users to create an account.
    </p>

    <h5>Examples</h5>
    <ul>
        <li>x</li>
    </ul>

</div>