@using DIHMT.Models
@using DIHMT.Static
@model RatingInputModel

@using (Html.BeginForm("SubmitRating", "Game"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row no-gutters">
            @Html.LabelFor(model => model.Flags, htmlAttributes: new { @class = "control-label col-sm-2 " })
            <div>
                <p>
                    <label>
                        <input type="checkbox" name="Flags" value="@((int)EnumTag.Spotless)" checked="@Model.IsSpotless" class="spotless-checkbox" /> Spotless
                    </label>
                </p>

                <p>
                    <strong>Horse armor: </strong>
                    <ul>
                        <li>
                            <label>
                                <input type="radio" name="Flags" value="-1" checked="@(!(Model.Flags.Contains((int)EnumTag.HorseArmor) || Model.Flags.Contains((int)EnumTag.BulkOrderHorseArmor)))" class="check-when-spotless" /> None
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="Flags" value="@((int)EnumTag.HorseArmor)" checked="@Model.Flags.Contains((int)EnumTag.HorseArmor)" class="monetization-input" disabled="@Model.IsSpotless" /> Some
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="Flags" value="@((int)EnumTag.BulkOrderHorseArmor)" checked="@Model.Flags.Contains((int)EnumTag.BulkOrderHorseArmor)" class="monetization-input" disabled="@Model.IsSpotless" /> A lot
                            </label>
                        </li>
                    </ul>
                </p>

                @foreach (var v in GameHelpers.GetRatings().Where(x => Model.MonetizationFlags.Contains(x.Id) && x.Id > (int)EnumTag.Spotless))
                {
                    <p>
                        <label>
                            <input type="checkbox" name="Flags" value="@v.Id" checked="@Model.Flags.Contains(v.Id)" class="monetization-input" disabled="@Model.IsSpotless" /> @v.Name
                        </label>
                    </p>
                }

                @foreach (var v in GameHelpers.GetRatings().Where(x => !Model.MonetizationFlags.Contains(x.Id) && x.Id > (int)EnumTag.Spotless))
                {
                    <p>
                        <label>
                            <input type="checkbox" name="Flags" value="@v.Id" checked="@Model.Flags.Contains(v.Id)" /> @v.Name
                        </label>
                    </p>
                }
            </div>
        </div>

        <div class="form-group row no-gutters">
            @Html.LabelFor(model => model.Basically, htmlAttributes: new { @class = "control-label col-sm-2 " })
            <div>
                <input type="text" size="280" name="Basically" value="@Model.Basically" class="wide-input" maxlength="280" />
            </div>
        </div>

        <div class="form-group row no-gutters">
            @Html.LabelFor(model => model.RatingExplanation, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div>
                <textarea name="RatingExplanation" class="wide-input" rows="10" cols="100" maxlength="4000">@Model.RatingExplanation</textarea>
                @Html.ValidationMessageFor(model => model.RatingExplanation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row no-gutters">
            @Html.LabelFor(model => model.Links, htmlAttributes: new { @class = "control-label col-sm-2 " })
            <div class="input-fields-wrap">
                @if (Model.Links != null && Model.Links.Any())
                {
                    for (var i = 0; i < Model.Links.Count; i++)
                    {
                        if (i == 0)
                        {
                            <input type="text" name="Links" size="500" class="wide-input links-input" maxlength="500" value="@Model.Links[i]" />
                        }
                        else
                        {
                            <div>
                                <input type="text" name="Links" size="500" class="wide-input links-input" maxlength="500" value="@Model.Links[i]" /> <a href="#" class="remove_field">[-]</a>
                            </div>
                        }
                    }
                }
                else
                {
                    <div>
                        <input type="text" name="Links" size="500" class="wide-input links-input" maxlength="500" />
                    </div>
                }
            </div>
            <div class="col-sm-offset-1">
                <a href="#" class="add-field-element">[+]</a>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-1 col-sm-2">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
