@using DIHMT.Models
@{
    ViewBag.Title = "Advanced Search";
}

<h2>Advanced Search</h2>

@using (@Html.BeginForm())
{
    <div class="col-md-2">
        Search text
    </div>
    <div class="col-md-10">
        @Html.TextBox("q", string.Empty, new { @class = "wide-input" })
    </div>

    <hr />

    <div class="col-md-2">
        I'm only interested in games tagged "<strong>Spotless</strong>"
    </div>
    <div class="col-md-10">
        <input type="radio" name="requireFlags" value="@((int)EnumTag.Spotless)" /> Yes
        <input type="radio" name="requireFlags" value="-1" checked /> No
    </div>

    <div class="col-md-2">
        I'm not interested in games with the following tags
    </div>
    <div class="col-md-10">
        <input type="checkbox" name="blockFlags" value="@((int)EnumTag.HorseArmor)" /> Horse Armor
        <input type="checkbox" name="blockFlags" value="@((int)EnumTag.BulkOrderHorseArmor)" /> Bulk Order Horse Armor
        <input type="checkbox" name="blockFlags" value="@((int)EnumTag.ExpansiveExpansions)" /> Expansive Expansions
        <input type="checkbox" name="blockFlags" value="@((int)EnumTag.Lootboxes)" /> It's Not Gambling, We Swear
        <input type="checkbox" name="blockFlags" value="@((int)EnumTag.MoneyHole)" /> Infinite Money Hole
        <input type="checkbox" name="blockFlags" value="@((int)EnumTag.NotJustCosmetic)" /> It's Not Just Cosmetic
    </div>
}