@using DIHMT.Models
@model AdvancedSearchViewModel

@{
    ViewBag.Title = "Advanced Search";
}

<div class="basic">
    <h2>Advanced Search</h2>

    @using (Html.BeginForm("Advanced", "Search", FormMethod.Get))
    {
        
        <label><h4>Search Text</h4></label>
        
        @Html.TextBox("q", string.Empty, new { @class = "wide-input form-control" })
        
        
        <hr class="divider-basic" />

        <label><h4>I'm looking for games in the following genres...</h4></label>
        <p>@Html.ListBoxFor(x => x.Genres, new MultiSelectList(Model.Genres, nameof(DbGenre.Id), nameof(DbGenre.Name)), new { Name = "genres", Size = "10", @class = "form-control" })</p>
        <i>Leave this blank and we'll show games regardless of genre</i>

        <hr class="divider-basic" />

        <label><h4>I'm looking for games on the following platforms...</h4></label>
        <p>@Html.ListBoxFor(x => x.Platforms, new MultiSelectList(Model.Platforms, nameof(DbPlatform.Id), nameof(DbPlatform.Name)), new {Name = "platforms", Size = "10", @class = "form-control" })</p>
        <i>Leave this blank and we'll show games regardless of platform</i>

        <hr class="divider-basic" />

        <h4>I'm only interested in games tagged "Spotless"</h4>
        <label><input type="radio" name="requireFlags" value="@((int)EnumTag.Spotless)" />&nbsp;Yes&nbsp;&nbsp;</label>
        <label><input type="radio" name="requireFlags" value="-1" checked />&nbsp;No</label>

        <hr class="divider-basic" />

        <h4>I'm not interested in games with the following tags</h4>
        <p></p>
        <p>
            <label>
                <input type="checkbox" name="blockFlags" value="@((int)EnumTag.HorseArmor)" />&nbsp;Horse Armor
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="blockFlags" value="@((int)EnumTag.BulkOrderHorseArmor)" />&nbsp;Bulk Order Horse Armor
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="blockFlags" value="@((int)EnumTag.ExpansiveExpansions)" />&nbsp;Expansive Expansions
            </label>
        </p>

        <p>
            <label>
                <input type="checkbox" name="blockFlags" value="@((int)EnumTag.Lootboxes)" />&nbsp;It's Not Gambling, We Swear
            </label>
        </p>

        <p>
            <label>
                <input type="checkbox" name="blockFlags" value="@((int)EnumTag.MoneyHole)" />&nbsp;Infinite Money Hole
            </label>
        </p>

        <p>
            <label>
                <input type="checkbox" name="blockFlags" value="@((int)EnumTag.NotJustCosmetic)" />&nbsp;It's Not Just Cosmetic
            </label>
        </p>

        <p>
            <label>
                <input type="checkbox" name="blockFlags" value="@((int)EnumTag.Subscription)" />&nbsp;But First, You'll Need A Contract
            </label>
        </p>

        <hr class="divider-basic" />

        <label><h4>I'm willing to make an exception for games with the following tags</h4></label>
        <p></p>
        <p>
            <label>
                <input type="checkbox" name="allowFlags" value="@((int) EnumTag.SingleplayerUntouched)" />&nbsp;Table For One
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="allowFlags" value="@((int) EnumTag.F2P)" />&nbsp;Free To Play
            </label>
        </p>

        <hr class="divider-basic" />

        <div>
            <input class="btn btn-primary" type="Submit" value="Let's take a look, then..." />
        </div>
    }
</div>
