@model DIHMT.Models.SearchResult

@{
    ViewBag.Title = "Search";
}

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12">

            @Html.Partial("SearchbarXL", "Search")

            @if (Model.Results.Any())
            {
                <div class="page-title">Search Results</div>
                foreach (var item in Model.Results)
                {
                    
                    @Html.Partial("Mini", item)
                } // For each result
            } // if model results any

            else
            {
                <h2>No results found</h2>
            }

            <hr />

            @if (Model.Page > 1)
            {
                if (Model.IsAdvanced)
                {
                    <a href="@(Url.Action("Advanced", "Search") + Model.AdvancedQueryStringWithoutPageNumber + (Model.Page - 1))">&lt;== Prev</a>
                }
                else
                {
                    <a href="@Url.Action("Search", "Search", new { q = Model.Query, page = Model.Page - 1})">&lArr; Prev</a>
                }
                <text>&nbsp;|&nbsp;</text>
            }

            <strong>@Model.Page</strong>

            @if (Model.Results.Any())
            {
                <text>&nbsp;|&nbsp;</text>
                if (Model.IsAdvanced)
                {
                    <a href="@(Url.Action("Advanced", "Search") + Model.AdvancedQueryStringWithoutPageNumber + (Model.Page + 1))">Next ==&gt;</a>
                }
                else
                {
                    <a href="@Url.Action("Search", "Search", new { q = Model.Query, page = Model.Page + 1})">Next &rArr;</a>
                }
            }

        </div>

        <div class="col-lg-3 d-none d-lg-block">
            @Html.Partial("Sidebar")
        </div>

    </div>
</div> @* Container *@