@using DIHMT.Models
@model SearchResult

@{
    ViewBag.Title = "Search";
}

@section twittercard
{
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@MTXZone")" />
    <meta name="twitter:title" content="MICROTRANSACTION.ZONE - Search" />
    
    @if (string.IsNullOrEmpty(Model.Query))
    {
        <meta name="twitter:description" content="Search results on MICROTRANSACTION.ZONE" />
    }
    else
    {
        <meta name="twitter:description" content="Results for @Model.Query on MICROTRANSACTION.ZONE" />
    }
    
    @if (Model.Results.Any())
    {
        <meta name="twitter:image" content="@Model.Results.First().SmallImageUrl" />
    }
    else
    {
        <meta name="twitter:image" content="https://microtransaction.zone/Images/MTZ_profile_pic.png" />
    }
}

@if (Model.Results.Any())
{
    <div class="page-title">Search Results</div>
    foreach (var item in Model.Results)
    {
        @Html.Partial("Mini", item)
    } // For each result
} // if model results any

else
{
    <h2>No results found</h2>
}

<hr />

@if (Model.Page > 1)
{
    if (Model.Type == SearchType.Advanced)
    {
        <a href="@(Url.Action("Advanced") + Model.AdvancedQueryStringWithoutPageNumber + (Model.Page - 1))">&lArr; Prev</a>
    }
    else if (Model.Type == SearchType.Standard)
    {
        <a href="@Url.Action("Search", new { q = Model.Query, page = Model.Page - 1 })">&lArr; Prev</a>
    }
    else if (Model.Type == SearchType.Recent)
    {
        <a href="@Url.Action("Recent", new { page = Model.Page - 1 })">&lArr; Prev</a>
    }
    <text>&nbsp;|&nbsp;</text>
}

<strong>@Model.Page</strong>

@if (Model.Results.Any())
{
    <text>&nbsp;|&nbsp;</text>
    if (Model.Type == SearchType.Advanced)
    {
        <a href="@(Url.Action("Advanced") + Model.AdvancedQueryStringWithoutPageNumber + (Model.Page + 1))">Next &rArr;</a>
    }
    else if (Model.Type == SearchType.Standard)
    {
        <a href="@Url.Action("Search", new { q = Model.Query, page = Model.Page + 1})">Next &rArr;</a>
    }
    else if (Model.Type == SearchType.Recent)
    {
        <a href="@Url.Action("Recent", new { page = Model.Page + 1 })">Next &rArr;</a>
    }
}
