@using DIHMT.Models
@model SearchResult

@{
    ViewBag.Title = "Search";
}

@if (Model.Results.Any())
{
    <div class="page-title">Search Results</div>
    foreach (var item in Model.Results)
    {
        @Html.Partial("Mini", item)
    } // For each result
} // if model results any

else
{
    <h2>No results found</h2>
}

<hr />

@if (Model.Page > 1)
{
    if (Model.Type == SearchType.Advanced)
    {
        <a href="@(Url.Action("Advanced") + Model.AdvancedQueryStringWithoutPageNumber + (Model.Page - 1))">&lArr; Prev</a>
    }
    else if (Model.Type == SearchType.Standard)
    {
        <a href="@Url.Action("Search", new { q = Model.Query, page = Model.Page - 1 })">&lArr; Prev</a>
    }
    else if (Model.Type == SearchType.Recent)
    {
        <a href="@Url.Action("Recent", new { page = Model.Page - 1 })">&lArr; Prev</a>
    }
    <text>&nbsp;|&nbsp;</text>
}

<strong>@Model.Page</strong>

@if (Model.Results.Any())
{
    <text>&nbsp;|&nbsp;</text>
    if (Model.Type == SearchType.Advanced)
    {
        <a href="@(Url.Action("Advanced") + Model.AdvancedQueryStringWithoutPageNumber + (Model.Page + 1))">Next &rArr;</a>
    }
    else if (Model.Type == SearchType.Standard)
    {
        <a href="@Url.Action("Search", new { q = Model.Query, page = Model.Page + 1})">Next &rArr;</a>
    }
    else if (Model.Type == SearchType.Recent)
    {
        <a href="@Url.Action("Recent", new { page = Model.Page + 1 })">Next &rArr;</a>
    }
}
