@{
    Layout = "/Views/Shared/_PendingLayout.cshtml";
}

@using DIHMT.Models
@using DIHMT.Static
@model Tuple<DisplayGame, PendingDisplayModel>

@{
    ViewBag.Title = $"Pending - {Model.Item2.GameName}";
}

<div class="basic container">
    @if (!Model.Item1.IsRated)
    {
        <p><h1><a href="@Url.Action("Index", "Game", new { id = Model.Item2.GameId })" target="_blank">@Model.Item2.GameName</a></h1></p>
        <p><strong>This game currently has no rating</strong></p>

        @Html.Partial("Pending_Partial", Model.Item2)
    }

    else
    {
        <p><h1><a href="@Url.Action("Index", "Game", new { id = Model.Item2.GameId })" target="_blank">@Model.Item2.GameName</a></h1></p>

        <div>
            <div class="page-title">Existing rating</div>

            @foreach (var v in GameHelpers.GetRatings())
            {
                <p>
                    <label>
                        <input type="checkbox" name="Flags" checked="@Model.Item1.RatingModel.Flags.Contains(v.Id)" disabled /> @v.Name
                    </label>
                </p>
            }

            <div class="form-group">
                <p>
                    @Html.LabelFor(model => model.Item1.Basically, htmlAttributes: new { @class = "control-label col-md-2 " })
                </p>
                <p>
                    <input type="text" name="Basically" size="280" value="@Model.Item1.Basically" class="form-control wide-input" maxlength="280" />
                </p>
            </div>

            <div class="form-group">
                <p>
                    @Html.LabelFor(model => model.Item1.RatingExplanation, htmlAttributes: new { @class = "control-label col-md-2" })
                </p>
                <p>
                    <textarea name="RatingExplanation" class="wide-input" rows="10" cols="100" maxlength="4000">@Model.Item1.RatingExplanation</textarea>
                </p>
            </div>

            @if (Model.Item1.Links?.Any() ?? false)
            {
                <ul>
                    @foreach (var v in Model.Item1.Links)
                    {
                        <li>
                            @v
                        </li>
                    }
                </ul>
            }
        </div>

        <div>
            @Html.Partial("Pending_Partial", Model.Item2)
        </div>
    }
</div>